extends layout

block title
  title freewall-sample

block body
  .gallery
    h1.gallery__heading Images Gallery
    .gallery__container.js-container
      - for (var i = 0; i < 20; i++)
        .gallery__item
          img.gallery__img(src=`https://source.unsplash.com/random/${100 + Math.floor(Math.random() * 300)}x200`)
