extends layout

block title
  title PIXTA layout sample

block body
  .gallery
    h1.gallery__heading PIXTA layout sample
    .gallery__container.js-container
      - for (var i = 0; i < 20; i++)
        .gallery__item
          img.gallery__img(src=`https://source.unsplash.com/random/${100 + Math.floor(Math.random() * 400)}x200`)

  .spinner.js-spinner
    - for (var j = 0; j < 5; j++)
      div(class=`rect${j+1}`)

  .number.js-number
